
/*servicios-------------------------------------------------------------*/









/* Responsive------------------------------------------------------------ */
/* mobile */

@media (max-width: 480px) {

    /* HEADER */
    header {
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }

    header img {
        margin: 2rem auto;
        width: 3.5rem;
    }

    header ul {
        margin: 1rem 0;
        padding: 0;
        text-align: center;
    }

    .nav-item {
        margin: 1rem 0;
    }


    /* BANNER PRINCIPAL */
    .banner-principal {
        flex-direction: column;
        padding: 4rem 2rem 0 2rem;
    }

    .banner-informacion-escrita {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .banner-principal-foto-yo a {
        width: 100%;
        margin: 2rem 0 ;
    }

    .banner-principal-foto-yo figure img {
        width: 90%;
        max-width: 80rem;
        margin: 0 auto;
    }

    .texto-principal-banner {
        font-size: 3rem;
        bottom: 0;
    }

    .texto-descripcion-profesional {
        font-size: 1.5rem;
        padding: 0 2rem;
        top: 2rem;
        text-align: center;
        padding-bottom: 5rem;
    }

    
    /* PROYECTOS */
    .proyectos {
        width: 100%;
        display: block;
        padding: 0 2rem;
    }

    .galeria-1,
    .galeria-2 {
        flex-direction: column;
        align-items: center;
        padding: 2rem 0 0 0;
    }

    .imagen-proyecto {
        width: 90%;
        max-width: 30rem;
        height: auto;
        margin: 1rem 0;
    }

    .imagen-proyecto img {
        border-radius: 1rem;
    }

    .proyectos-texto {
        width: 100%;
        display: block;
        position: static;
        text-align: center;
        margin-top: 1rem;
    }

    .titulo-proyectos {
        font-size: 110rem;
        padding: 3rem 2rem;
        text-align: center;
    }

    .proyectos-texto .palabra-proyectos {
        font-size: 3rem;
    }


    .proyectos-texto .palabra-clave {
        padding: 1rem 0 3.5rem 0rem;
        text-align: center;
    }

    .proyectos-texto .palabra-clave-diseno {
        font-size: 1.4rem;
    }

    .proyectos-texto .palabra-clave-diseno span {
        margin-right: 1rem;
    }


    .pie-de-pagina .grupo-1 {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .paginas {
        flex-direction: column;
        padding-top: 3.5rem;
    }

    .footer-paginas {
        flex-direction: row;
        align-items: center;
    }

    .redes-sociales {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .redes-sociales a {
        margin: 0.5rem;
    }

    .redes-sociales figure img {
        width: 25px;
    }

}