
@use "./partials/variables"; 
@use "./partials/headeryfooter";

/*main index------------------------------------------------------------*/


.banner-principal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0rem 0rem 0rem;
    margin-top: 8rem;
    overflow: hidden;

    /*foto index*/

     figure{
    margin: 0rem;
    }

    .banner-principal-foto-yo a{
    display: block;
    position: relative;
    width: 50%;
    margin-left: 10rem;
    }

    .banner-principal-foto-yo figure img{
    display: block;
    position: relative;
    width: 70rem;

    // Animación
      opacity: 0;
      animation: fadeInSlide 1s ease-out forwards;
      animation-delay: 0.5s;
    }

    /*informacion escrita*/

    .banner-informacion-escrita{
    display: block;
    position: relative;
    width: 50%;
    margin-left: 25rem;

     .texto-principal-banner{
     display: block;
     position: relative;
     bottom: 3.125rem;

     // Animación entrada
      opacity: 0;
      transform: translateX(-40px);
      animation: fadeInLeft 1.2s ease-out forwards;
      animation-delay: 1s;
     }

     .texto-descripcion-profesional{
     display: block;
     position: relative;
     top: 3.75rem;
     padding: 0rem 30rem 0rem 0rem;

     // Animación entrada
      opacity: 0;
      transform: translateX(-40px);
      animation: fadeInLeft 1.2s ease-out forwards;
      animation-delay: 1s;
     }
    }
   
}


/*main proyectos--------------------------------------------------------*/

.proyectos{
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0rem 30rem;

    /*fotos proyectos*/

    .galeria-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0rem 0rem 0rem;

     // Animación
      opacity: 0;
      animation: fadeInSlide 1s ease-out forwards;
      animation-delay: 0.5s;
    }

    .imagen-proyecto{
    max-width: 40rem;
    margin-bottom: 2rem;
    }

    .imagen-proyecto img{
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    transition: all .3s ease-in-out;
    }

    .imagen-proyecto img:hover{
    transform: scale(1.08);
    }
}

/*texto presentacion proyectos*/

.proyectos-texto{
    width: 100%;
    display: block;
    position: sticky;
    align-items: center;
    text-align: left;
    bottom: 32.5rem;

     .titulo-proyectos{
     padding: 0rem 20rem 0rem 100rem;

     // Animación entrada
      opacity: 0;
      transform: translateX(-40px);
      animation: fadeInLeft 1.2s ease-out forwards;
      animation-delay: 1s;
     }

     .palabra-clave{
     padding: 10rem 25rem 0rem 100rem;

     // Animación entrada
      opacity: 0;
      transform: translateX(-40px);
      animation: fadeInLeft 1.2s ease-out forwards;
      animation-delay: 1s;
    } 

}


/*main servicios--------------------------------------------------------*/   

.servicios{
    width: 100%;
    height: auto;
    display: block;
    align-items: center;
    text-align: left;
    padding: 15rem 40rem;

    // Animación desde arriba
    opacity: 0;
    transform: translateY(-40px);
    animation: fadeInDown 1.2s ease-out forwards;
    animation-delay: 1s;

    /*texto intro servicios*/

    .intro-servicios{
        text-align: center;
        padding-bottom: 10rem;

        .titulo-servicios{
            padding: 0rem 20rem;
            padding-bottom: 12rem;
        }

        .discripcion-servicios{
            padding-bottom: 4.3rem;
        }
    }

    /*acordeon servicios*/

    .accordion-item{
        font-family: "Poppins",sans-serif;
        font-size: 1.6rem; /*1rem=10px*/
        margin-bottom: 2rem;
        font-weight: 300;

        .accordion-body{
            padding: 2rem;
        }

        .accordion-button{
            font-size: 1.8rem;
        }

        .accordion-button:focus {
            box-shadow: none;
        }

        .accordion-button:not(.collapsed) {
            background-color: white; 
            color: #000; 
            box-shadow: none;
        }


    }

    /*boton contacto servicios*/

    .final-servicios{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 12rem;

        .call-to-action{
            font-family: "Poppins",sans-serif;
            font-size: 2.5rem; /*1rem=10px*/
            font-weight:400;
            padding-bottom: 3rem;
        }


        .btn-contactame {
        background-color: white;
        color: black;
        border: 1px solid black;
        padding: 1.5rem 3rem;
        font-family: "Poppins",sans-serif;
        font-size: 1.5rem;
        text-decoration: none;
        cursor: pointer;
        border-radius: 30px; 
        transition: all 0.3s ease;
        }

      .btn-contactame:hover {
       background-color: black;
       color: white;
       }

    }

}


/*main sobre mi--------------------------------------------------------*/

.sobre-mi {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 3rem;
  padding: 9rem 20rem;

  .foto{
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    img{
        width: 100%;
        height: auto;
        object-fit: cover;

        // Animación
      opacity: 0;
      animation: fadeInSlide 1.4s ease-out forwards;
      animation-delay: 0.5s;
    }
  }

  .texto-principal{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20rem;

    h1{
        line-height: 3;
    }

    // Animación entrada
      opacity: 0;
      transform: translateX(-40px);
      animation: fadeInLeft 1.2s ease-out forwards;
      animation-delay: 1s;
  }


  .texto-secundario{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding-top:  3rem;

    // Animación entrada
      opacity: 0;
      transform: translateX(-40px);
      animation: fadeInLeft 1.2s ease-out forwards;
      animation-delay: 1s;
  }

  .experiencia-columnas {
    grid-column: 1 / 3;
    display: grid;
    grid-auto-flow: column;
    gap: 7rem;
    padding: 6rem 0rem;
    margin-top: 3rem;
    border-top: 1px solid #E4EBF1;

    // Animación desde arriba
      opacity: 0;
      transform: translateY(-40px);
      animation: fadeInDown 1.2s ease-out forwards;
      animation-delay: 1s;
  }

  .experiencia-item h2 {
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .experiencia-item .empresa {
    font-family: "Poppins",sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    color: #666;
    margin-bottom: 2rem;
  }

  .experiencia-item ul {
    padding-left: 1.5rem;
  }

  .experiencia-item ul li {
    margin-bottom: 6px;
  }
}


/*main contacto--------------------------------------------------------*/

.contacto {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25rem 2.5rem;
  gap: 12.5rem;

  // Animación desde arriba
      opacity: 0;
      transform: translateY(-40px);
      animation: fadeInDown 1.2s ease-out forwards;
      animation-delay: 1s;

  .contacto-titulo h1 {
  font-size: 64px;
  font-weight: bold;
  }

  .contacto-descripcion{
    padding-top: 5rem;
  }

  form{
    display: flex;
    flex-direction: column;
    gap: 1rem;


    input[type="submit"] {
    background-color: #000;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
    }
  }

}



/* Responsive------------------------------------------------------------ */
/* mobile */

@media (max-width: 767px) and (min-width: 360px) {

   html {
    font-size: 50%; /* 1rem = 8.8px aprox */
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }

  ul{
    padding-left: 2rem;
  }


/*header*/
  header {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;

    img {
    margin: 4rem 0;
    width: 5rem;
    }
  }
  
  header ul {
    margin: 0;
    padding: 0;
    text-align: center;

    .navbar-nav .nav-item {
    margin-left: 3rem;
    }
  }

  

/*footer*/
  .pie-de-pagina{
    .grupo-1 {
       grid-template-columns: 1fr;
       gap: 2rem;
       text-align: center;
    }
  }

  .pie-de-pagina .paginas .footer-paginas {
    flex-direction: column;
    gap: 1rem;
  }





/*index*/
  .banner-principal {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 5rem 10rem 5rem;
    gap: 8em;
  }

  .banner-principal .banner-principal-foto-yo a,
  .banner-principal .banner-informacion-escrita {
    width: 100%;
    margin: 0 auto;
  }

  .banner-principal .banner-principal-foto-yo figure img {
    width: 100%;
  }

  .banner-principal .banner-informacion-escrita .texto-descripcion-profesional {
    padding: 0;
  }


/*proyectos*/

 .proyectos {
    padding: 0rem 5rem;
  }

  .proyectos .galeria-1 {
    padding-top: 5rem;
    align-items: center;
  }

  .proyectos .imagen-proyecto {
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  .proyectos-texto {
    position: relative;
    bottom: auto;
    margin-top: 5rem;
    text-align: center; 
    padding: 0rem 5rem;
  }

  .proyectos-texto .titulo-proyectos,
  .proyectos-texto .palabra-clave {
    padding: 0;
    margin: 5rem 0;
  }


/*servicios*/

  .servicios {
    padding: 5rem 5rem;
  }

  .servicios .intro-servicios .titulo-servicios {
    padding: 5rem 2.5rem;
  }


/*sobre mi*/

.sobre-mi {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    padding: 0rem 5rem;
  }

  .sobre-mi .foto {
    padding: 5rem 0 0 0;
    grid-column: 1 / 2;
    grid-row: auto;
  }

  .sobre-mi .texto-principal {
    grid-column: 1 / 2;
    grid-row: auto;
    padding-left: 0;
    text-align: center;
  }

  .sobre-mi .texto-principal h1 {
    line-height: 2.5;
  }

  .sobre-mi .texto-secundario {
    grid-column: 1 / 2;
    grid-row: auto;
    padding-top: 2rem;
    text-align: center;
  }

  .sobre-mi .experiencia-columnas {
    grid-column: 1 / 2;
    display: grid;
    grid-auto-flow: row;
    gap: 8rem;
    margin-top: 1rem;
  }


  .sobre-mi .experiencia-item ul {
    padding-left: 0;
  }



/*contacto*/
  .contacto {
    flex-direction: column;
    padding: 10rem 5rem;
    gap: 6rem;
    align-items: center;
    text-align: center;
  }

  .contacto .contacto-titulo h1 {
    font-size: 3.5rem;
  }


  input[type=text],
  input[type=email],
  input[type=number],
  textarea {
    font-size: 1.6rem;
  }

  .servicios .final-servicios .call-to-action {
    font-size: 2rem;
  }

  .servicios .final-servicios .btn-contactame {
    font-size: 1.4rem;
    padding: 1.2rem 2.5rem;
  }
}





@media (min-width: 768px) and (max-width: 1440px) {
  html {
    font-size: 55%; /* 1rem = 9px */
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  /* Header */
  header {
    padding: 1rem 3rem;
  }

  header img {
    width: 5rem;
    margin: 1.5rem;
  }

  header ul {
    margin-right: 4rem;
  }

  .navbar-nav .nav-item {
    margin-left: 3rem;
  }



  /* Banner principal */
  .banner-principal {
    flex-direction: row;
    padding: 5rem 5rem 0 5rem;
    margin-top: 5rem;
  }

  .banner-principal .banner-principal-foto-yo a {
    width: 40%;
    margin-left: 5rem;
  }

  .banner-principal .banner-principal-foto-yo figure img {
    width: 50rem;
  }

  .banner-principal .banner-informacion-escrita {
    width: 60%;
    margin-left: 8rem;
  }

  .banner-principal .banner-informacion-escrita .texto-descripcion-profesional {
    padding: 0rem 10rem 0rem 0rem;
  }



  /* Proyectos */

   .proyectos {
    display: flex;
    flex-direction: column;
    padding: 7rem 5rem;
    max-width: 100%;
  }

  .proyectos .galeria-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
    max-width: 100%;
  }

  .proyectos .imagen-proyecto {
    max-width: 30rem;
  }

  .proyectos-texto {
    padding: 0rem 10rem;
    margin-bottom: 7rem;
    bottom: auto;
    position: relative;
  }

  .proyectos-texto .titulo-proyectos,
  .proyectos-texto .palabra-clave {
    padding: 0rem;
  }




  /* Servicios */
  .servicios {
    padding: 8rem 15rem;
  }

  .servicios .intro-servicios .titulo-servicios {
    padding: 0rem 10rem;
    padding-bottom: 8rem;
  }

  .servicios .final-servicios {
    padding-top: 8rem;
  }

  



  /* Sobre mí */
  .sobre-mi {
    padding: 8rem 10rem;
    gap: 4rem;
  }

  .sobre-mi .texto-principal {
    padding-left: 5rem;
  }

  .sobre-mi .texto-principal h1 {
    line-height: 2.8;
  }

  .sobre-mi .experiencia-columnas {
    gap: 5rem;
    padding: 4rem 0rem;
  }



  /* Contacto */
  .contacto {
    max-width: 100%;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8rem;
  }



}


